form {
  width: 50%;
  margin: 2% auto;
}

input {
  margin-top: 5px;
}

body {
  background-color: rgb(158, 158, 158);
}

h1 {
  color: rgb(2, 45, 59);
  width: 50%;
  margin: 2% auto;
}

h2 {
  color: rgb(48, 2, 90);
  width: 50%;
  margin: 2% auto;
}
